@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: none;
}
body{
  width: 100%;
  background-color: hsl(0, 0%, 10%);
  color: white;
  font-family: 'Montserrat', serif;
  position: relative;
}

header, footer {
  background-color: hsla(280, 90%, 50%, .5);
  width: 100vw;
  height: auto;
  text-align: left;
  padding: 20px 20px 20px 40px;
}
#survey-form {
  position: relative;
  background: hsla(280, 90%, 50%, .5);
  max-width: 700px;
  margin: 12vh auto 12vh auto;
  padding: 3rem;
}
fieldset, ul, ol{
  line-height: 1.8em;
  list-style: none;
  padding: 0rem;
}
.textbox, textarea {
  margin-left: 15px;
  border-radius: 3px;
  line-height: 1.8rem;
  padding-left: 6px;
}
h1, legend{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
ol li {
  margin-bottom: 16px;
}
ol ul li {
   margin-bottom: 0px;
 }
select option:nth-child(odd) {
  background-color: #eee;
}
#submit{
  display: block;
  margin: 1em auto 1em auto;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  background-color: #feb236;
  color: darkgreen;
  font-size: 1.2em;
  font-weight: 300;
}
